.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;


 h1{
 color: var(--gray-900);
 font-size: 1.5rem;
}

p{
margin-left: 2.5rem;
justify-content: center;
align-items: center;
color: var(--gray-900);
 font-size: 1.2rem;
 background-color: var(--blue-100);
 width: 4rem;
 border-radius: 5px;
 border: solid 2px;
 border-color: var(--blue);
}
}
