.texts {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--gray-900);
    font-size: 1.3rem;
    margin-bottom: 12px;
    
  }

  span {
    margin-left: 2.5rem;
    margin-right: 88rem;
    color: var(--gray-900);
    font-size: 1.2rem;
    background-color: var(--blue-100);
    border-radius: 10px;
    border: solid 2px;
    border-color: var(--blue);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px; 
    padding-bottom: 5px;//centraliza o texto no centro
    width: auto;
    cursor: default; /* Impede que o cursor mude para o estilo de clique */
    
  }
}
