.texts {

span {
  
    font-weight: 500;
    color: var(--gray-900);
    font-size: 1.18rem;
    background-color: var(--blue-100);
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--blue);
    padding-left: 12px; //os paddings deixam o tamanho da caixa automatico de acordo com o texto dentro
    padding-right: 12px;
    padding-top: 4px; 
    padding-bottom: 4px;//centraliza o texto no centro
    cursor: default; /* Impede que o cursor mude para o estilo de clique */
    
  }
}
