.header{
 width: 100vw;
 display: flex;
 flex-direction: column;
}
.imgLogo{
 width: 13.5rem;
 margin-left: 20px;
}

 .details {h1{
  color: var(--gray-900);
  font-size: 2.5rem;
  width: 13.5rem;
  margin-left: 40px;
  margin-top: 1.5rem;
 }
  img{
  height: 20.5rem;
  width: 25rem;
  margin-left: 55rem;
  margin-top: 2rem;
 }
}
 
 

