* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  
}
:root {
  --white: #ffffff;
  --purple: purple;
  --gray-900: #121214;
  --background:#F8F9FA;
  --gray: #ececed;
  --blue: #3860aa;
  --blue-100: #becbe2;
  --yellow-100: #fae8ab;
  --yellow-300:#fdd85d;
  --green-100:#ace6c6;
  --green-300:#60d394;
  --red-100:#f4a29c;
  --red-300:#f14b3d;
  
}

body {
  background: var(--background);
  color: var(--white); 
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  // deixar o mouse com aquela flexa no botao
  cursor: pointer;
}

a {
  // os links assumem a cor do elemento pai e não o azul padrão
  color: inherit;
  text-decoration: none;
}