
.container{
   display: block;
  // flex-direction: column; /* Altera a direção para coluna */
  align-items: center; /* Alinha verticalmente no início */
  justify-content: center; /* Alinha horizontalmente no início */
  height: 15rem;
  width: 15rem;
  background: white;
  margin-top: 2rem;
  margin-left: 3rem;
  
 } 

  .content{
  display:inline-block;
  height: 3rem;
  width: 14rem;
  margin-top: 16rem;
  margin-left: 0.5rem;
  background: red;
  }