.Container{
 position: relative;
  
 } 

  .hero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

  span{
  display: flex; //alinhar o icone com o texto do botão
  align-items: center; //centralizar eles no meio do botão
  justify-content: center;
  font-size: 3rem;
  
  margin-bottom: 1.5rem;
   }
  
   button{
   height: 5px;
   width: 10rem;
   font-size: 1.1rem;
   border: 0;
   padding: 1rem;

  align-items: center;
  display: flex; //alinhar o icone com o texto do botão
  align-items: center; //centralizar eles no meio do botão
  justify-content: center;
   background-color: var(--purple);
   color: var(--white);

  transition: 0.2s;
  &:hover {
  filter: brightness(0.8);
    }
 }
  }