.main{

}
.container{
  display: inline-flex;
  align-items: center; /* Alinha verticalmente no início */
  justify-content: center; /* Alinha horizontalmente no início */
  height: 15rem;
  width: 15rem;
  background: white;
  margin-top: 2rem;

  img{
    height: 10rem;
    width: 10rem;
    background-color: red;
  }
 } 


  .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 15rem;
  background: red;}

  .content a{
   
  }
  
