.container{
 display: flex;
 flex-direction: row;
  margin-top: 18px;
  gap: 16px;
  margin-bottom: 7.5rem;
  
  
  button {
    font-size: 1.4rem;
    color: var(--white);
    background: var(--blue);
    border: 0px;
    padding: 14 32 14 32px;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);}
  }
  
  input{
   margin-top: 1px;
    margin-left: 19rem;
    font-size: 1rem;
    color: var(--gray-900);
    background: var(--gray);
    border: solid 0px;
    padding: 14 32 14 32px;
    border-radius: 30px;
    height: 45px;
    width: 400px;
    transition: filter 0.2s;

    ::placeholder {
     color: var(--gray-900);
     padding-left: 30px;
    }

    &:hover {
      filter: brightness(0.9);}

    &:focus {
        outline: 0rem;
        box-shadow: 0 0 0 2px var(--blue);
      }
    
  }
  }
